{% extends 'navbar.html' %}
{% block content %}
{% load static %}

<div class="container col-10">
    <div class="container">

        <div class="row ">
            <h3>Trainer Leave Request</h3>
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Reason</th>
                    <th>From</th>
                    <th>to</th>
                    <th>No. of Days</th>
                    <th colspan="2">Action</th>
                </tr>
                {% for i in leave %}
                <tr>
                    <td>{{i.trainer.customuser.first_name}}{{i.trainer.customuser.last_name}}</td>
                    <td>{{i.reason}}</td>
                    <td>{{i.from_date}}</td>
                    <td>{{i.to_date}}</td>
                    <td></td>

                    {% if i.is_approved == True %}
                    <td ><button href="" class="btn btn-outline-success" disabled>Approved</button></td>
                    
                    {% elif i.is_approved == False %}
                    <td><button href="" class="btn btn-outline-danger" disabled>Rejected</button></td>
                    
                    {% else %}
                    <td ><a href="{% url 'admin_approve_leave' i.id %}" class="btn btn-outline-success">Approve</a></td>
                    <td><a href="{% url 'admin_reject_leave' i.id %}" class="btn btn-outline-danger">Reject</a></td>
                    {% endif %}
                </tr>
                {% endfor %} 
            </table>

            
        </div>
        <div class="row ">
            <h3>Trainee Leave Request</h3>

            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Reason</th>
                    <th>From</th>
                    <th>to</th>
                    <th>No. of Days</th>
                    <th>Action</th>
                </tr>
                {% for i in bleave %}
                <tr>
                    <td>{{i.trainee.customuser.first_name}}{{i.trainee.customuser.last_name}}</td>
                    <td>{{i.reason}}</td>
                    <td>{{i.from_date}}</td>
                    <td>{{i.to_date}}</td>
                    <td></td>
                    {% if i.is_approved == True %}
                    <td ><button href="" class="btn btn-outline-success" disabled>Approved</button></td>
                    
                    {% elif i.is_approved == False %}
                    <td><button href="" class="btn btn-outline-danger" disabled>Rejected</button></td>
                    
                    {% else %}
                    <td ><a href="{% url 'admin_approve_leave_trainee' i.id %}" class="btn btn-outline-success">Approve</a></td>
                    <td><a href="{% url 'admin_reject_leave_trainee' i.id %}" class="btn btn-outline-danger">Reject</a></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </table>
            

        </div>

    </div>
</div>

{% endblock %}