{% extends 'navbar.html' %}
{% block content %}
{% load static %}
<style>
    /* Customize the main scrollbar */
::-webkit-scrollbar {
  width: 4px;
}

/* Customize the thumb (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
  background-color: #060606;
  border-radius: 10px;
}

/* Optional: Customize the track (the area behind the thumb) */
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

</style>
<div class="container-fluid col-md-10"><br>
    <div class="container-fluid " style="padding: 17px;overflow-y: scroll;max-height: 80vh;">
        <center><h2>{{c.customuser.first_name}} {{c.customuser.last_name}}'s - Attendence</h2></center><br>
        <table class="table">
            <tr style="background-color: orange;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-size: larger;">
                <th>Date</th>
                <th>{{a}} <small>to</small> {{b}}</th>
                <th>status</th>
                
            </tr>
            {% for i in s %}
            
            <tr style="background-color: black;font-size: larger;color: white;">
                <td>{{i.date}}</td> 
                <td></td>
                <td class="col-2">{% if i.attendence == True %}<button class="btn btn-outline-success" disabled >Present</button>{% elif i.attendence == False %}<button class="btn btn-outline-danger" disabled >Absent</button>{% else %}<button class="btn btn-outline-secondary" disabled >Not Marked</button>{% endif %}</td>
            </tr>
            {% endfor %}
        </table>
    </div>  <br><br><br><br><br>
</div>

{% endblock %}