{% extends 'navbar.html' %}
{% block content %}
{% load static %}

<div class="container-fluid col-md-10"><br><br><br><br><br>
    <div class="container-fluid col-md-10" style="border-radius: 10px;box-shadow: 2px 4px 8px black;background-color: white;">
        <form action="{% url 'admin_view_trainerattendence_action' %}" method="post" style="padding: 20px;">
            {% csrf_token %}
            <center><h2>View Trainer Attendence</h2></center><br><br>
            <center class="form-group">
                <select name="trid" id="" class="form-control">
                    {% for i in tr %}
                    <option value="{{i.id}}">{{i.customuser.first_name}} {{i.customuser.last_name}}</option>
                    {% endfor %}
                </select>
            </center>
            <div class="row">
                <div class="col form-group">
                    <label for="">From</label>
                    <input type="date" class="form-control" name="start" id="">
                </div>
                <div class="col form-group">
                    <label for="">To</label>
                    <input type="date" class="form-control" name="end">
                </div>
            </div><br>
            <center><button type="submit" class="btn btn-warning" style="width: 50%;border-radius: 50px;">View</button></center>
        </form>
    </div><br><br><br>
</div>

{% endblock %}