{% extends 'navbar.html' %}
{% block content %}
{% load static %}

<style>
  body{
    background-color: gray;
  }
  
  td{
    
    font-size: larger;
  }
  th{
    font-size: larger;
  }

  ::-webkit-scrollbar {
  width: 5px; /* width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: white; /* color of the thumb */
  border-radius: 10px; /* rounded corners of the thumb */
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* color of the track */
}
</style>

<div class="container col-10 table-responsive">
  <br>
  <div class="container table-responsive" style="overflow-y: scroll; max-height: 90vh;" >
  <h1>Approve/Disapprove</h1><br>
    <table class="table" style="overflow-y: scroll;">
        <thead >
          <tr style="background-color: orange;font-size: larger;" >
            <th scope="col">Name</th>
            <th scope="col">Message</th>
            <th scope="col">Email</th>
            <th scope="col" colspan="2">Profile picture</th>
            <th scope="col" colspan="3">Action</th>
            
          </tr>
        </thead>
        <tbody>
            {% for i in te %}
            
          <tr style="background-color: black;font-size: large;color: white;">
            
            <td>{{i.tempsignup.first_name}} {{i.tempsignup.last_name}}</td>
            <td>{{i.message}}</td>
            <td>{{i.tempsignup.email}}</td>
            <td><img src="{{i.tempsignup.image.url}}" width="70" alt=""></td>
            <td></td>
            
            {% if i.is_approved == True %}
            <td ><button href="" class="btn btn-outline-success" disabled>Approved</button></td>
            <td><a href="{% url 'newreg' i.id %}" class="btn btn-outline-primary">View</a></td>
            <td></td>
            {% elif i.is_approved == False %}
            <td><button href="" class="btn btn-outline-danger" disabled>Disapproved</button></td>
            <td><a href="{% url 'newreg' i.id %}" class="btn btn-outline-primary">View</a></td>
            <td></td>
            {% else %}
            <td ><a href="{% url 'approveaction' i.id %}" class="btn btn-outline-success">approve</a></td>
            <td><a href="{% url 'disapproveaction' i.id %}" class="btn btn-outline-danger">disapprove</a></td>
            <td><a href="{% url 'newreg' i.id %}" class="btn btn-outline-primary">View</a></td>
            {% endif %}
          </tr>
          {% endfor %}
          <!-- ------------------update trainer--------------------------------- -->
          {% for i in edit %}
            
          <tr style="background-color: black;font-size: large;color: white;">
            
            <td>{{i.firstname}} {{i.lastname}}</td>
            <td>{{i.message}}</td>
            <td>{{i.email}}</td>
            <td><img src="{{i.image.url}}" width="70" alt=""></td>
            <td></td>
            
            {% if i.is_approved == True %}
            <td ><button href="" class="btn btn-outline-warning" disabled>Changes Approved</button></td>
            <td><a href="{% url 'admin_see_changes' i.id %}" class="btn btn-outline-primary">View</a></td>
            <td></td>
            {% elif i.is_approved == False %}
            <td><button href="" class="btn btn-outline-danger" disabled>Changes Rejected</button></td>
            <!-- <td><a href="{% url 'admin_see_changes' i.id %}" class="btn btn-outline-primary">View</a></td> -->
            <td></td>
            <td></td>
            {% else %}
            <td ><a href="{% url 'approvechange' i.id %}" class="btn btn-outline-success">Approve Change</a></td>
            <td><a href="{% url 'rejectchange' i.id %}" class="btn btn-outline-danger">Reject change</a></td>
            <td><a href="{% url 'admin_see_changes' i.id %}" class="btn btn-outline-primary">See Changes</a></td>
            {% endif %}
          </tr>
          {% endfor %}

          
        </tbody>
      </table></div><br><br>
</div>


{% endblock %}  