{% extends 'navbar.html' %}
{% block content %}
{% load static %}


<div class="container col-md-10"><br>
  <center><h1 style="color: white;text-shadow: 1px 2px black;">Assign trainers</h1></center><br>
  <div class="container table-responsive">
  
    
    <table class="table ">
        <thead>
          <tr style="background-color: burlywood;font-size: larger;">
            <th>Profile picture</th>
            <th scope="col">Full name</th>
            
            <th>Department</th>
            <th>Current trainer</th>
            <th>Assign Trainer</th>
            <th></th>
                  
          </tr>
        </thead>
        <tbody>
            {% for i in asign %}
          <form action="{% url 'assignaction' i.id %}" method="post">
            {% csrf_token %}
            <tr style="font-size: larger;background-color: black;color: white;">
            
              <td><img src="{{i.image.url}}" alt="" width="60"></td>
              <td>{{i.customuser.first_name}} {{i.customuser.last_name}}</td>
              
              <td>{{i.department.departmentname}}</td>
              <td>{{i.trainer.customuser.first_name}} {{i.trainer.customuser.last_name}}</td>
              <td><select name="trainr" id="" class="form-control" style="background-color: black;color: white;">

                  {% for t in teach %}
                  {% if i.department_id == t.department_id %}
                  <option value="{{t.id}}">{{t.customuser.first_name}} {{t.customuser.last_name}}</option>
                  {% else %}
                  {% endif %}
                  {% endfor %}
                  {% if i.trainer_id is not None %}
                  <option value="">Remove</option>
                  {% endif %}
              </select></td>
              <td><button type="submit" class="btn btn-primary">Assign</button></td>
  
            </tr>
          </form>
          {% endfor %}
        </tbody>
        
      </table>
  </div>
</div>

{% if error == "no" %}
     <script>
	   alert('Assigned Successfully');
      
     </script>
{% endif %}

{% if error == "remove" %}
     <script>
	    alert('Trainer Removed');
     </script>
{% endif %}

{% endblock %}