{% extends 'navbar3.html' %}
{% block content %}
{% load static %}
<div class="container col-md-10">
<div class="container table-responsive "><br><br>
    <center><h1>Completed Task</h1></center>
    <table class="table">
        <tr style="font-size: larger;background-color: black;color: white;">
            <th>project name</th>
            <th>start date</th>
            <th>end date</th>
            <th>status</th>
            <th>Remark</th>
            <th>File</th>
        </tr>
        {% for v in h %}
        <tr style="background-color: white;font-size: larger;color: black;">
            <td>{{v.projectname}}</td>
            <td>{{v.startdate}}</td>
            <td>{{v.enddate}}</td>
            {% if v.status == False %}
            <td><button href="" class="btn btn-outline-warning" disabled>Pending</button></td>
            {% else %}
            <td><button href="" class="btn btn-outline-success" disabled>Completed</button></td>
            {% endif %}
            <td>{% if v.is_delay == False %}<button href="" class="btn btn-outline-success" disabled>On time</button>{% else %}<button href="" class="btn btn-outline-danger" disabled>Late</button>{% endif %}</td>
            <td><a href="{{v.file.url}}" class="btn btn-outline-secondary" target="_blank">show</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
</div>
{% endblock %}