{% extends 'navbar.html' %}
{% block content %}
{% load static %}

<div class="container col-10">
<div class="row" style="margin: 10px;">
    <div class="col">
        <a href="" style="font-size: 50px;" >a</a>
    </div>
    <div class="col">
        <a href="" style="font-size: 50px;">b</a>
    </div>
    <div class="col">
        <a href="" style="font-size: 50px;">c</a>
    </div>
</div>
<div class="row" style="margin: 10px;">
    <div class="col">
        <a href="" style="font-size: 50px;" >d</a>
    </div>
    <div class="col">
        <a href="" style="font-size: 50px;">e</a>
    </div>
    <div class="col">
        <a href="" style="font-size: 50px;">f</a>
    </div>
</div>
</div>


{% endblock %}