{% extends 'navbar2.html' %}
{% block content %}
{% load static %}
<style>
 body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),url('{% static "image/wall3.jpg" %}');
    background-size: cover;
    background-attachment: fixed;
    color: white;
    
    
 }
 .card a{
  border-radius: 25px;
  background-color: rgb(222, 18, 72);
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
 }
 .card a:hover{
  border-radius: 25px;
  background-color: rgb(241, 108, 143);
  color: white;
  padding: 10px 20px;
 }

</style>

<div class="container"><br>
 
  <div class="jumbotron-fluid container col-md-11 " style="background-color: transparent;"> 
    <center><h1 style="font-family: Verdana, Geneva, Tahoma, sans-serif;font-size: 48px;"><span style="color: aqua;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">ALTOS</span> Technologies</h1></center>
    <center><h4 >We Deal With The Aspects Of <span style="color: aqua;"> Professional IT Solutions</span></h4></center><br>
    <hr class="my-4"><br>
    <p class="container" style="font-size: 25px;display: flex;justify-content: center;width: 90%;">Elevate your business with Altos Technologies. As a software development company in India, we craft custom websites and software solutions to fit your unique business needs. Our team of experts delivers solutions that streamline operations, boost efficiency, and create a lasting impact. Partner with us to take your success to new heights with quality and excellence at forefont.</p>
    <p class="lead"><br>
      <center><a class="btn btn-lg " style=" border-radius: 50px;background-color: black;color: white;font-weight: 500;box-shadow: 1px 5px 5px 1px white;" href="#" role="button">Learn more</a></center>
    </p>
  </div><br><br>br
  <div class="jumbotron jumbotron-fluid   " style="background-color: transparent;">
    <div class="container">
      <center><h1 class="display-3 " style="font-weight: 500;font-family: Verdana, Geneva, Tahoma, sans-serif;">// Why Choose Us</h1></center><br>
      <center><p style="font-size: 30px;">Discover why ALTOS Technologies is the premier choice for IT solutions.</p></center>
    </div>
  </div><br><br>
  
  <div class="container col-11">
    <div class="card-deck">

      <div class="card" style="background-color: transparent;background-color: rgba(65, 105, 225, 0.4);padding: 15px;">
        <center style="font-size: 30px;color: aqua;"><i class="fa-solid fa-scroll"></i></center>
        <center><div class="card-body">
          <h5 class="card-title" style="color: aqua;">Experienced Professionals</h5>
          <p class="card-text">Our Team of Experienced Professionals is Committed to Delivering Dependable Services to Meet the Needs of Our Clients.</p>
          
        </div></center>
      </div>

      <div class="card" style="background-color: transparent;background-color: rgba(65, 105, 225, 0.4);padding: 15px;">
        <center style="font-size: 30px;color: aqua;"><i class="fa-solid fa-layer-group"></i></center>
        <center><div class="card-body">
          <h5 class="card-title" style="color: aqua;">Unique Designs</h5>
          <p class="card-text">Discover a World of Unparalleled Creativity - Our Unique Designs are the Epitome of Innovation and Originality.</p>
          
        </div></center>
      </div>
      
      <div class="card" style="background-color: transparent;background-color: rgba(65, 105, 225, 0.4);padding: 15px;">
        <center style="font-size: 30px;color: aqua;"><i class="fa-solid fa-cube"></i></center>
        <center><div class="card-body">
          <h5 class="card-title" style="color: aqua;">Industrial standards</h5>
          <p class="card-text">Our websites are engineered to adhere to international standards, placing them at the forefront of the global market.</p>
          
        </div></center>
      </div>

      <div class="card" style="background-color: transparent;background-color: rgba(65, 105, 225, 0.4);padding: 15px;">
        <center style="font-size: 30px;color: aqua;"><i class="fa-solid fa-users"></i></center>
        <center><div class="card-body">
          <h5 class="card-title" style="color: aqua;">Customized Services</h5>
          <p class="card-text">Tailored Solutions Just for You - Our Customized Services Offer Personalized Expertise to Meet Your Unique Needs.</p>
          
        </div>
      </div></center>

    </div>
  </div><br><br><br><br><br>

  <center><h5 style="font-family: Arial, Helvetica, sans-serif;">CONNECT </h5><h1 style="color: aqua;">With Us</h1></center><hr style="color: white;" class="my-4">
  
  <div class="container col-md-8 " style="border-radius: 10px;background-color: rgba(0, 95, 139, 0.392);padding: 40px;font-size: larger;font-weight: 500;">
    <div class="row form-group" >
      <label for="">Name</label>
      <input type="text" class="form-control" placeholder="Write your name here..">
    </div>

    <div class="row form-group" >
      <div class="col">
        <label for="">Email</label>
        <input type="text" class="form-control" placeholder="We will contact you via email ..">
      </div>
      <div class="col">
        <label for="">Phone</label>
        <input type="text" class="form-control" placeholder="To reach out to you ..">
      </div>
    </div>
    
    <div class="row form-group" >
      <label for="">Company</label>
      <input type="text" class="form-control" placeholder="Let us know about your past company details..">
    </div>
    
    <div class="row form-group" >
      <label for="">Technologies</label>
      
      <select name="" id="" class="form-control">
        <option value="">--SELECTT TECHNOLOGY--</option>
        <option value="">CRM</option>
        <option value="">AR/VR</option>
        <option value="">ERP</option>
        <option value="">HRMS</option>
        <option value="">ANDROID DEVELOPMENT</option>
        <option value="">3D MODELLING</option>
        <option value="">ACCOUNTING</option>
        <option value="">DIGITAL MARKETING</option>
      </select>
    </div>
    
    <div class="row form-group" >
      <label for="">Message</label>
      <input type="text" class="form-control" placeholder="What would you like to let us know.">
    </div>
  </div><br><br><br>

  <center><h5 style="font-family: Arial, Helvetica, sans-serif;">CHECK OUR </h5><h1 style="color: aqua;">SERVICES</h1></center><hr style="color: white;" class="my-4">  

  <div class="container col-12">
    <div class="card-deck" style="font-size: larger;">

      <div class="card" style="background-color: transparent;background-color: rgba(65, 105, 225, 0.4);padding: 15px;">
        <center style="font-size: 30px;color: yellow;"><i class="fa-solid fa-display"></i></center>
        <center><div class="card-body">
          <h5 class="card-title" style="color: yellow;">Experienced Professionals</h5>
          <p class="card-text">Our Team of Experienced Professionals is Committed to Delivering Dependable Services to Meet the Needs of Our Clients.</p>
          <center><a href="" class="btn">Know More </a></center>
        </div></center>
      </div>

      <div class="card" style="background-color: transparent;background-color: rgba(65, 105, 225, 0.4);padding: 15px;">
        <center style="font-size: 30px;color: yellow;"><i class="fa-solid fa-globe"></i></center>
        <center><div class="card-body">
          <h5 class="card-title" style="color: yellow;">Unique Designs</h5>
          <p class="card-text">Discover a World of Unparalleled Creativity - Our Unique Designs are the Epitome of Innovation and Originality.</p>
          <center><a href="" class="btn">Know More </a></center>
        </div></center>
      </div>
      
      <div class="card" style="background-color: transparent;background-color: rgba(65, 105, 225, 0.4);padding: 15px;">
        <center style="font-size: 30px;color: yellow;"><i class="fa-solid fa-table-cells-large"></i></center>
        <center><div class="card-body">
          <h5 class="card-title" style="color: yellow;">Industrial standards</h5>
          <p class="card-text">Our websites are engineered to adhere to international standards, placing them at the forefront of the global market.</p>
          <center><a href="" class="btn">Know More </a></center>
        </div></center>
      </div>

      <div class="card" style="background-color: transparent;background-color: rgba(65, 105, 225, 0.4);padding: 15px;">
        <center style="font-size: 30px;color: yellow;"><i class="fa-solid fa-layer-group"></i></center>
        <center><div class="card-body">
          <h5 class="card-title" style="color: yellow;">Customized Services</h5>
          <p class="card-text">Tailored Solutions Just for You - Our Customized Services Offer Personalized Expertise to Meet Your Unique Needs.</p>
          <center><a href="" class="btn">Know More </a></center>
        </div>
      </div></center>

    </div>
  </div>


</div>

{% endblock %}