{% extends 'navbar.html' %}
{% block content %}
{% load static %}




<div class="container col-5" id="b">
    <br><br><br><br>
    <center><h3>{{i.sender.first_name}} {{i.sender.last_name}} </h3></center>
    <div class="row">
        <div class="col-4" >
            <img class="mt-2" src="{{i.tempsignup.image.url}}" height="300" width="200" alt=""> 

                
                
                
                
                
                
                        
        </div>
        
        <div class="col-6" >
            <table class="table">
                <thead>
                    <h3 style="text-align: center;"></h3>
                  <tr>
                    <th scope="col">ID:  </th>
                    <td scope="col">{{i.tempsignup.id}}</td>
                    <th scope="col" style="border-left: 3px solid rgb(222, 216, 216) ;">Age: </th>
                    <td scope="col">{{i.tempsignup.age}}</td>
        
                    
                  </tr>
                </thead>
                <tbody>
                  
                  <tr>
                    <th scope="row" colspan="1">Department: </th>
                    <td colspan="">{{i.tempsignup.department.departmentname}}</td>
                    <!-- <th scope="row" colspan="1" style="border-left: 3px solid rgb(222, 216, 216) ;">Gender: </th>
                    <td colspan="3">{{i.tempsignup.gender}}</td> -->
                    
                  </tr>
                  <tr>
                    <th scope="row" colspan="1">Gender: </th>
                    <td colspan="3">{{i.tempsignup.gender}}</td>
                    
                  </tr>
                  <tr>
                    <th scope="row" colspan="1">Email: </th>
                    <td colspan="3">{{i.sender.email}}</td>
                    
                  </tr>
                  <tr>
                    <th scope="row" colspan="1">Mobile No: </th>
                    <td colspan="3">{{i.tempsignup.contact}}</td>
                    
                  </tr>
                  
                  <tr>
                    
                    <th scope="row" colspan="1">Joined on: </th>
                    <td colspan="3">{{i.tempsignup.joindate}}</td>
                    
                  </tr>
                </tbody>
              </table>
              <br><br>
        </div>
    </div>
</div>


{% endblock %}