{% extends 'navbar.html' %}
{% block content %}
{% load static %}

<div class="container col-10">
    <h1>new register</h1>
    {% if i.trainee %}
    <table>
        <center>
            
            <img src="{{i.trainee.image.url}}" width="200" alt="">
            <h4>{{i.sender.first_name}} {{i.sender.last_name}}</h4>
        </center>
        <tr>
            <th>Email</th><td>{{i.sender.email}}</td>
        </tr>
        <tr>
            <th>contact</th><td>{{i.trainee.contact}}</td>
        </tr>
        <tr>
            <th>joindate</th><td>{{i.trainee.joindate}}</td>
        </tr>
        <tr>
            <th>gender</th><td>{{i.trainee.gender}}</td>
        </tr>
        <tr>
            <th>age</th><td>{{i.trainee.age}}</td>
        </tr>
        <tr>
            <th>course</th><td>{{i.trainee.course.coursename}}</td>
        </tr>
        <tr>
            <th>Department</th><td>{{i.trainee.department.departmentname}}</td>
        </tr>
        <tr>
            <td><a href="" class="btn btn-success">approve</a></td><td><a href="" class="btn btn-danger">disapprove</a></td>
        </tr>
        
    </table>
    {% else %}
    <table>
        <center>
            <img src="{{i.trainer.image.url}}" width="200" alt="">
            <h3>{{i.sender.first_name}} {{i.sender.last_name}}</h3>
        </center>
        <tr>
            <th>Email</th><td>{{i.sender.email}}</td>
        </tr>
        <tr>
            <th>contact</th><td>{{i.trainer.contact}}</td>
        </tr>
        <tr>
            <th>joindate</th><td>{{i.trainer.joindate}}</td>
        </tr>
        <tr>
            <th>gender</th><td>{{i.trainer.gender}}</td>
        </tr>
        <tr>
            <th>age</th><td>{{i.trainer.age}}</td>
        </tr>
        <tr>
            <th>course</th><td>{{i.trainer.course.coursename}}</td>
        </tr>
        <tr>
            <th>Department</th><td>{{i.trainer.department.departmentname}}</td>
        </tr>
        <tr>
            <td><a href="{% url 'approveaction' i.id %}" class="btn btn-success">approve</a></td>
            <td><a href="" class="btn btn-danger">disapprove</a></td>
        </tr>
        
    </table>
    {% endif %}
    
</div>

{% endblock %}