{% extends 'navbar4.html' %}
{% block content %}
   <div class="container"><br>
    <div class="container col-md-7"><br><br>
        
        <form method="post" style="font-size: larger;font-weight: 500;background-color: white; padding: 25px;border-radius: 7px;">
            <h2>Update Password</h2><br>
            {% csrf_token %}
            <div class="form-group">
                <label for="current_password">Current Password:</label>
                <input type="password" class="form-control" id="current_password" name="current_password" required>
            </div>
    
            <div class="form-group">
                <label for="new_password">New Password:</label>
                <input type="password" class="form-control" id="new_password" name="new_password" required>
            </div>
    
            <div class="form-group">
                <label for="confirm_new_password">Confirm New Password:</label>
                <input type="password" class="form-control" id="confirm_new_password" name="confirm_new_password" required>
            </div>
    
            <button class="btn btn-dark" type="submit">Update Password</button>
        </form>
    </div><br><br><br><br>
   </div>

   {% if error == "no" %}
     <script>
	   alert('Password Reset Successfully');
       window.location=("{% url 'trainerdash' %}");
     </script>
{% endif %}

{% if error == "yes" %}
     <script>
	    alert('Password doesnt match');
     </script>
{% endif %}
{% endblock %}