{% extends 'navbar4.html' %}
{% block content %}
{% load static %}
<style>
    body{
        /* background-color: gray; */
        background-image: linear-gradient(rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.75)),url('{% static "image/strip.jpg" %}');
        background-size: cover;
    }
</style>
<div class="container col-10"><br><br><br><br><br>
    <div class="container col-8" style="box-shadow: 2px 2px 4px black;padding: 20px;border-radius: 9px;background-color: rgba(255, 255, 255, 0.788);">
        <center><h2>Schedule a class</h2></center><br>
        <form action="{% url 'trainer_class_action' %}" method="post" style="font-weight: 500;font-size: larger;">
            {% csrf_token %}
            <div class="row">
                <div class="col form-group">
                    <label for="">Topic</label>
                    <input type="text" name="topic" class="form-control" id="">
                </div>
                <div class="col form-group">
                    <label for="">Date</label>
                    <input type="date" value="" name="date" class="form-control" id="">
                </div>
        
            </div>
            <div class="row">
                <div class="col form-group">
                    <label for="">Join link</label>
                    <input type="text" name="linkk" class="form-control" id="">
                </div>
            </div>
            <center><button type="submit" class="btn btn-info" style="width: 150px;border-radius: 5px;">Schedule class</button></center>
    
        </form><br>
    </div>
</div>

{% endblock %}