{% extends 'navbar3.html' %}
{% block content %}
{% load static %}

<style>

#kun a{
    
    padding: 50px;
    background-color: maroon;
    /* background-image: linear-gradient(to right,white,maroon); */
    display: flex;
    margin-top: 100px;

    color: rgb(206, 139, 139);
    border-radius: 5px;
    font-size: x-large;
    font-weight: 500;
    text-decoration: none;
    width: 300px;

    float: inherit;
    
}
#kun a:hover{
    
    box-shadow: 2px 3px 10px white;
    /* font-size: xx-large; */
    color: white;
   
    font-weight: 500;
    background-image: linear-gradient(to right,maroon,rgba(198, 109, 109, 0.597));
    
}

</style>

<div class="container col-10">
    <div class="container" id="kun">
        <div class="row" >
            <div class="col">
                <center><a href="{% url 'assignedtask' %}">Assinged Tasks</a></center>
            </div>
            <div class="col">
                <center><a href="{% url 'completedtask' %}">Completed Task</a></center>
            </div>
        </div>
    </div><br><br><br><br><br><br><br><br><br><br><br><br>
</div>

{% endblock %}