{% extends 'navbar4.html' %}
{% block content %}
{% load static %}

<style>
    body{
        background-image: linear-gradient(rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.75)),url('{% static "image/ani2.jpg" %}');
        
    }
</style>

<div class="container col-10"><br><br><br><br>
    
    <form action="{% url 'trainer_assignproject_action' %}" method="post" class="container col-8" style="box-shadow:2px 4px 7px black;padding: 20px;border-radius: 10px;background-color: rgba(255, 255, 255, 0.75);font-weight: 500;">
        <center><h2>Assign Projects</h2></center>
        {% csrf_token %}
        <div class="form-group">
            <label for="">Project name</label>
            <input type="text" name="projectname" class="form-control">
        </div>
        <div class="row">
            <div class="form-group col">
                <label for="">Start date</label>
                <input type="date" name="sdate" class="form-control">
            </div>
            <div class="form-group col">
                <label for="">End date</label>
                <input type="date" name="edate" class="form-control">
            </div>
        </div><br>
        <center><button type="submit" class="btn btn-primary" style="width: 50%;">Assign</button></center>
    </form>
</div>

{% if error == "no" %}
     <script>
	   alert('Assigned Successfully');
       window.location=("{% url 'trainer_assignproject' %}");
     </script>
{% endif %}

{% if error == "yes" %}
     <script>
	    alert('Something went wrong, Try Again');
     </script>
{% endif %}

{% endblock %}