{% extends 'navbar3.html' %}
{% block content %}
{% load static %}

<div class="container col-10">
    <h2>My Profile</h2>
    <div class="row" style="margin: 10px;">
        <div class="col-4" style="border: 2px solid blue; border-radius: 10px;">
            <img src="{{t.image.url}}" width="200" alt="">
            
        </div>
        <div class="col-7 ml-4" style=" border: 2px solid blue; border-radius: 10px;">
            <p>{{t.customuser.first_name}}</p>            
        </div>
        
    </div>
    
    <div class="row">
    
        <div class="col-5" style="border: 2px solid blue; border-radius: 10px;">
            <img src="{{t.image.url}}" width="200" alt="">
        </div>
        
        <div class="col-6 ml-5 " style=" border: 2px solid blue; border-radius: 10px;">
            <p>{{t.customuser.first_name}}</p>
        </div>
        
    </div>
    </div>

{% endblock %}