{% extends 'navbar4.html' %}
{% block content %}
{% load static %}

<div class="container col-10">
    <form action="{% url 'applyleaveaction' %}" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col form-group">
                <label for="">Reason</label>
                <input type="text" name="reason" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col form-group">
                <label for="">from</label>
                <input type="date" name="from" class="form-control">
            </div>
            <div class="col form-group">
                <label for="">To</label>
                <input type="date" name="to" class="form-control">
            </div>
        </div>
        <button type="submit" class="btn btn-info">Apply Leave</button>
    </form>

</div>


{% endblock %}