{% extends 'navbar4.html' %}
{% block content %}
{% load static %}

<div class="container col-md-10"><br>
    <center> <h1>Mark Attendence</h1></center>
    <div class="container table-responsive">
       
    <table class="table"> 
        <tr style="background-color: burlywood;font-size: larger;">
            <th >Trainee Name</th>
            <th>Date</th>
            <th colspan="2">Attendence</th>
        </tr>
        {% for i in aten %}
        <form action="{% url 'trainer_markaction' i.id %}" method="POST">
            {% csrf_token %}
        <tr style="background-color: black;color: white;font-size: larger;">
            <td>{{i.customuser.first_name}} {{i.customuser.last_name}}</td>
            <td ><input type="date" value="{{t}}" name="tdate" class="form-control"></td>
            <!-- {% if d.attendence == '1' %}
            <td><button type="submit" name="attn" class="btn btn-success" value="present" disabled  >Mark Present</button>
                <button type="submit" name="attn" class="btn btn-danger" value="absent" hidden  >Mark Absent</button></td>
            {% elif d.attendence == '0' %}
            <td><button type="submit" name="attn" class="btn btn-success" value="present" hidden >Mark Present</button>
                <button type="submit" name="attn" class="btn btn-danger" value="absent" disabled >Mark Absent</button></td>
            {% else %} -->
            <td><button type="submit" name="attn" class="btn btn-success" value="present">Mark Present</button>
                <button type="submit" name="attn" class="btn btn-danger" value="absent">Mark Absent</button></td>
            <!-- {% endif %}             -->
            
        </tr>
        </form>

        


        {% endfor %}
    </table>
</div>
</div>

{% if error == "yes" %}
        <script>
	   alert('Already Marked');
       window.location=("{% url 'trainer_markattendence' %}");
        </script>
        {% endif %}

        {% if error == "no" %}
            <script>
                alert('Successfully Marked');
            </script>
        {% endif %}
{% endblock %}